/ipch
ipch/* 
XkShows/*
XkUser/*
XkUserLike/*
XkWelcomeUser/*
FrpcInfo/*
XkAgent/*
ruan/*
CMakeFiles/*
lua/*
.vscode/*
*.ipch
*.bin
*.php
*.txt
*.dSYM
*Mac mini*
think
think.cpp
*.apk
*.marge
*.list
*.op
*.cmake
*.json
*.jpg
*.out
!CMakeLists.txt



