/ipch
ipch/*
XkShows/*
XkUser/*
XkUserLike/*
XkWelcomeUser/*
FrpcInfo/*
XkAgent/*
ruan/*
CMakeFiles/*
lua/*

*.ipch
*.bin
*.php
*.txt
*.dSYM
*Mac mini*
think
think.cpp
*.apk
*.marge
*.list
*.op
*.cmake
*.jpg
*.out
*.log
*.sql
!CMakeLists.txt



