/ipch
ipch/* 
XkShows/*
XkUser/*
XkUserLike/*
XkWelcomeUser/*
FrpcInfo/*
XkAgent/*
ruan/*
lua/*
.vscode/*
*.ipch
*.bin
*.php
*.txt
*.dSYM
*Mac mini*
think
think.cpp
*.apk
*.marge
*.list



